// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
:global {
  // @import 'base';
  // @import 'device-sizes';
  // @import 'standard-classes';
  @import '~normalize.css/normalize';
  @import url(https://fonts.googleapis.com/css?family=Gudea:400,600,700);

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height:100%;
    background: #dfefff;
    background: -moz-radial-gradient(center, ellipse cover, #dfefff 0%,#9ab 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #dfefff 0%,#9ab 100%);
    background: radial-gradient(ellipse at center, #dfefff 0%,#9ab 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfefff', endColorstr='#9ab',GradientType=1 );
    font-family: 'Gudea', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-size: cover;  
  }
  a {
    text-decoration: none !important;
    &:visited {
      text-decoration: none;
      color: inherit;
    }
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  [type=button]{
    -webkit-appearance: none !important;
  }
  h1,h2,h3,h4,h5,h6{
    margin:0
  }

  // LAYOUT
  .df{display: flex;}
  .aic{align-items: center;}
  .acc{align-content: center;}
  .acfe{align-content: flex-end;}
  .aife{align-items: flex-end;}
  .jcc{justify-content: center;}
  .f1{flex:1}
  .fww{flex-wrap: wrap;}
  .fwnw{flex-wrap: nowrap;}
  .jcsb{justify-content: space-between;}

  .posr{position: relative;}
  .posa{position: absolute;}
  .posf{position: fixed;}

  // Compontents
  .button{
    border-radius: 3px;
    font-weight: 700;
    padding:20px 40px;
    cursor: pointer;
    text-align: center;
    letter-spacing: -1px;
    font-size: 22px;
    background: rgba(#456,.6);
    opacity: .9;
    color: #ffffff;
    transition:200ms;
    box-shadow:0 2px 10px -5px rgba(0,0,0,.5);
    &:hover{
      opacity:1;
      transform:scale(1.03);
      box-shadow:0 2px 20px -6px rgba(0,0,0,.5);
    }
    &.disabled{
      opacity:.4;
      &:hover{
        opacity: .4;
        cursor: default;
        transform:none;
      }
    }
  }

}